a{
    text-decoration: underline;
    color: red;
}
a:hover{
    text-decoration: none;
}
.ttpShow{
    display: none;
}
#ttpPanel{
    padding: 15px;
    width: 200px;
    text-align: left;
    border: 3px solid #ccc;
    position: absolute;
    z-index: 99;
    background-color: #fff;
    display: none;
}
